<script setup lang="ts">
import { RouterView, RouterLink, useRoute, useRouter } from 'vue-router';
const router = useRouter()
const route = useRoute()
function goToChat(){
  router.push({name: 'chat'})
}

</script>

<template>
  <ui>
    <li><RouterLink to="/">Home</RouterLink></li>
    <li><RouterLink :to="{name: 'chat'}">Chat</RouterLink></li>
    <li><RouterLink :to="{ path: '/address-book'}">Address Book</RouterLink></li>
  </ui>
  <div>{{route.path}}</div>
  <button @click="goToChat()">click To Chat</button>
 <RouterView/>
</template>

<style scoped>

</style>
